.play-button {
  @include flex(center, center, row);
  background-color: var(--color-btn);
  padding: 12px 16px;
  gap: 10px;
  border-radius: 444px;
  border: none;
  cursor: pointer;
  z-index: 100;
  &:hover {
    background-color: var(--color-btn-hover);
  }
  &:active {
    background-color: var(--color-btn-active);
  }

  &__text {
    @include font-button;
    color: black;
    text-decoration: none;
  }
}
